
body.background {
    background-image: url(../road.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 0;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top:200px;
    margin-left: 100px;
    margin-right: 100px;
}

.item {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    font-size: 70px;
    font-weight: bold;
    color: white;
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
}

div.item:nth-child(1) {
background-color: rgb(48, 47, 47);
opacity: 0.7;
}

div.item:nth-child(2) {
background-color: rgb(109, 24, 24);
opacity: 0.7;
}

div.item:last-child {
background-color: rgb(136, 82, 39);
opacity: 0.7;
}


@-webkit-keyframes animacija1 {
    
    0% {
      transform: translate(0px, -250px);
      opacity: 0;
    }

    50% {
        transform: translate(0px, 5px);
        opacity: 0.7;
    }
        
    100% {
     transform: translate(0px, 0px);
     opacity:0.7;
    }

  }

  .section > *:nth-child(1) {
    animation: animacija1 2s ease-in;
    animation-fill-mode: forwards;
    transform: translate(0px, -500px);
  } 

  @-webkit-keyframes animacija2 {

    0% {
      transform: translate(0px, -250px);
      opacity: 0;
    }

    50% {
        transform: translate(0px, 5px);
        opacity: 0.7;
    }
        
    100% {
     transform: translate(0px, 0px);
     opacity: 0.7;
    }
   
  }

  .section > *:nth-child(2) {
    animation: animacija2 2s ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: translate(0px, -500px);
  } 

  @-webkit-keyframes animacija3 {

    0% {
      transform: translate(0px, -250px);
      opacity: 0;
    }

    50% {
        transform: translate(0px, 5px);
        opacity: 0.7;
    }
        
    100% {
     transform: translate(0px, 0px);
     opacity: 0.7;
    }

  }

  .section > *:nth-child(3) {
    animation: animacija3 2s ease-in;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    transform: translate(0px, -500px);
  } 

